// scss goes here

html {
  font-family: sans-serif;
}

$color-red: #FF4136;
$color-orange: #FF851B;
$color-gray: #999;

// used for theme skins with a default to gray
@mixin color_cascade($color: #999, $alert-color: $color-red, $warning-color: $color-orange) {
  .wand-trigger {
    color: $color;
    border: 2px solid $color;

  }
  .wand-notification {
    &.alert {
      background-color: lighten($alert-color, 45%);
      border: 2px solid $alert-color;
      color: $alert-color
    }

    &.warning {
      background-color: lighten($warning-color, 45%);
      border: 2px solid $warning-color;
      color: $warning-color
    }

  }
  .wand-history-node {
    border-color: $color;
    &:before {
      background-color: white;
      border: 0.2em solid $color;
    }
  }
  .wand-node-container {
    border-color: $color;
    &:before {
      background-color: $color;
      border: 0.2em solid $color;
    }
  }
  .wand-history-title {
    color: $color;
  }
}

.wand-container {
  @include color_cascade();

  &.wand-blue {
    @include color_cascade(steelblue);
  }

  &.wand-red {
    @include color_cascade(brick-red);
  }

  .wand-node {}
  .wand-node-container {
    padding: 0.2em 1em 1em 1.2em;
    margin-left: 1.2em;
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: -0.55em;
      width: 0.55em;
      height: 0.55em;
      border-radius: 100%;
    }
  }
  .wand-node-title {
    font-size: 1.5em;
    margin: -0.4em 0 0.5em;
  }
  .wand-node-content {
    margin: 0;
  }

  .wand-notification,
  .wand-trigger {
    text-transform:uppercase;
    padding: 1em 2em;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    background: transparent;
    margin-right: 1em;
    font-weight: 700;
    cursor: pointer;
  }


  .wand-history-container {
    width: 400px; // temporary
    margin: 0;
  }
  .wand-history {
    list-style-type: none;
    margin: 0;
    padding: 1em 1em 0;
  }
  .wand-history-node {
    position: relative;
    padding: 0 0 20px 1em;
    border-left-width: 0.2em;
    border-left-style: solid;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: -0.55em;
      width: 0.55em;
      height: 0.55em;
      border-radius: 100%;
    }
    &:last-child {
      padding-bottom: 3em;
    }
  }
  .wand-history-title {}
  .wand-history-answer {
    font-size: 0.9em;
    display: block;
    font-weight: 900;
  }
}
